* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

/* navbar */
nav {
    display: flex;
    background-color: black;
    justify-content: space-around;
    /* padding: 20px 0; */
    color: aliceblue;
    height: 50px;
    align-items: center;

}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 40%;
}

nav ul li a {
    text-decoration: none;
    color: crimson;
    font-size: 0, 8em;
}

nav ul li a:hover {
    color: brown;
}

/*menu burger*/
.menu-toggle {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -6px;
    top: -4px;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: aliceblue;
    border-radius: 3px;
    transition: all 0.5s;
}

/*hambuger menu animation*/
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0);
}

/*home*/
.container {
    background-color: aqua;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-content: center;
}

.foto img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid black;
}

.perkenalan {
    z-index: 2;
}

.perkenalan h1 {
    margin-top: 100px;
    text-align: center;
    line-height: 40px;
    color: white;
    filter: drop-shadow(2px 2px 1px black);
}

.perkenalan p {
    color: black;
    margin-top: 10px;
    margin-bottom: 20px;
}

.icon {
    font-size: 40px;
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 40px;
}

.icon a {
    background-color: purple;
    border: 2px solid black;
    border-radius: 20%;
    font-size: 40px;
    color: black;
    box-shadow: 2px 2px 5px black, -2px -2px 5px black;

}

.icon i:hover {
    color: orange;
}

.blob {
    position: absolute;
}

/*about*/
.about {
    background-color: #ff5500;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.marker {
    position: absolute;
    width: 900px;
    left: -50px;
    height: 900px;
}

.about .biodata {
    background-color: aqua;
    line-height: 30px;
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 20%;
    border: 5px solid black;
    box-shadow: 5px 5px 2px black, -5px -5px 2px black;
    z-index: 2;
}

.about .gambar img {
    border: 5px solid black;
    border-radius: 20%;
    overflow: hidden;
    background-size: cover;
}


/*skill*/
.blob1 {
    position: absolute;
}

/*skills*/

.skills {
    height: 150vh;
    background-image: linear-gradient(blue, #ffff00);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}

.skills-content {
    margin-top: 350px;
}

.bahasa h2 {
    margin-bottom: 40px;
}

.skills .bahasa {
    font-size: 40px;
    padding-right: 10px;
    text-align: center;
}

.bahasa i {
    margin: 10px;
}

.skills-content {
    /* margin-right: 400p; */
    height: 400px;
    width: 500px;
    border-radius: 20px;
    border: 5px solid black;
}

.pemrograman {
    font-size: 20px;
    margin: 40px;
}

.pemrograman p {
    margin: 30px;
}

.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bar {
    background-color: black;
    padding: 7px 10px;
    backdrop-filter: blur(10px);
    position: relative;
}

.bar div {
    position: relative;
    width: 0;
    height: 5px;
    background-color: white;
    border: 1px solid #FF5500;
}

#js-bar {
    width: 10%;
}

#css-bar {
    width: 30%;
}

#html-bar {
    width: 70%;
}


/*softskills*/
.soft-content {
    margin-top: 350px;
}

.brain h2 {
    margin-bottom: 40px;
}

.soft-content .brain {
    font-size: 40px;
    padding-right: 10px;
    text-align: center;
}

.brain i {
    margin: 10px;
}

.soft-content {
    /* margin-right: 400p; */
    height: 400px;
    width: 500px;
    border-radius: 20px;
    border: 5px solid black;
}

.softskill {
    font-size: 20px;
    margin: 40px;
}

.softskill p {
    margin: 30px;
}

.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bar {
    background-color: black;
    padding: 7px 10px;
    backdrop-filter: blur(10px);
    position: relative;
}

.bar div {
    position: relative;
    width: 0;
    height: 5px;
    background-color: white;
    border: 1px solid #FF5500;
}

#ps-bar {
    width: 10%;
}

#analis-bar {
    width: 5%;
}

#kom-bar {
    width: 5%;
}


.portfolio {
    height: 200vh;
    width: 100%;
    background-image: linear-gradient(rgb(77, 77, 134), #6b6868);
    position: relative;
    padding-top: 300px;
}

.portfolio h1 {
    text-align: center;
    margin-bottom: 30px;
}

.portfolio-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    align-content: center;

}

.blob2 {
    position: absolute;
    top: 0;
}

.card {
    width: 40%;
    height: 450px;
    border: 5px solid black;
    border-radius: 10%;
    overflow: hidden;
    margin-bottom: 10px;
}

.card .sc img {
    width: 100%;
    height: auto;
    border-bottom: 5px solid black;
}

.text {
    margin: 20px 20px 0 20px;
    text-align: center;
}

.blob3 {
    position: absolute;
    top: 0;
}

.contact {
    background-image: linear-gradient(rgb(111, 111, 213), white);
    height: 150vh;
    width: 100%;
    position: relative;
    padding-top: 250px;
}

.contact h1 {
    text-align: center;
}

.c-contact {
    display: flex;
    width: 80%;
    height: 400px;
    margin: auto;
    border-radius: 20px;
    padding-top: 20px;
    margin-top: 20px;
    justify-content: center;
}

.c-contact .kiri {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(white, blue);
    border: 3px solid black;
    border-radius: 50px 0 0 50px;
    padding: 10px;
}

.kiri h1 {
    margin-bottom: 10px;
}

.kiri p {
    margin-bottom: 10px;
}

.c-contact .kontak {
    display: flex;
    flex-direction: column;
}

.kontak a {
    color: black;
    margin-bottom: 5px;
}

.c-contact .kanan {
    background-image: linear-gradient(lightskyblue, rgb(252, 221, 164));
    border: 5px solid black;
    border-radius: 0 50px 50px 0;
    padding: 10px;
    width: 50%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    background-color: transparent;
}

.input .group {
    /* margin-right: 100px; */
    width: 300px;
}

.contact .kanan {
    padding: 30px;
}

.contact .kiri {
    padding: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    background-color: transparent;
}

.contact button {
    margin-top: 10px;
    height: 40px;
    padding: 5px;
    width: 100px;
}







/*responsive*/
/* ukuran mobile*/
@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }


    /* nav ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: lightskyblue;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
    } */
}

nav ul.slide {
    transform: translateX(0);
}